.btn {
  font-size: 2rem;
  padding: 1rem 1rem;
  margin: 2rem;
  background: #0b95cc;
  border-radius: 5rem;
  width: fit-content;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin: 3rem 5vw;
}

/*  */

/*  */
* {
  /* border: 1px solid; */
}
.inputsContainer {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.inputsContainer div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.3rem;
  padding: 1rem 1rem;
  font-size: 2.2rem;
  text-align: center;
}
.inputsContainer .userInput {
  padding: 0.2rem;
  height: 100%;
  width: 80%;
  font-size: 2rem;
}
/* .inputsContainer .inputGenre {
}
.inputsContainer .inputGenre label {
}
.inputsContainer .inputGenre input {
}
.inputsContainer .inputYear {
}
.inputsContainer .inputYear label {
}
.inputsContainer .inputYear input {
}
.inputsContainer .inputLanguage {
}
.inputsContainer .inputLanguage label {
}
.inputsContainer .inputLanguage input {
} */
.inputsContainer .inputRating {
  grid-area: 3/1/3/4;
}
/* .inputsContainer .inputRating label {
}
.inputsContainer .inputRating input {
} */
.inputsContainer .inputTitle {
  grid-area: 4/1/4/4;
}
/* .inputsContainer .inputTitle label {
}
.inputsContainer .inputTitle input {
}
.additionalFeatureContainer {
} */
.moviesListContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.moviesListContainer .error{
font-size: 3rem;
color: red;
}
.moviesListContainer .Header {
  display: grid;
  gap: 1rem;
  margin: 2rem 0.5vw 0.2rem;
  grid-template-columns: 7vw 70vw 7vw;
  align-items: center;
  justify-items: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #3a3a3a;
  font-family: "Dongle", sans-serif;
  border: 0.2rem #3a3a3a;
  border-top: solid;
  border-bottom: solid;
}
/* .moviesListContainer .Header .rank {
} */
.moviesListContainer .Header .MovieDetail {
  width: 100%;
}
/* .moviesListContainer .Header .Year {
} */
.moviesListContainer .Movie {
  display: grid;
  grid-template-columns: 7vw 70vw 7vw;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  border: 0.1rem #3a3a3a;
  border-bottom: solid;
}
.moviesListContainer .Movie .rank {
}
.moviesListContainer .Movie .MovieDetail .img {
  grid-area: a;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.moviesListContainer .Movie .MovieDetail .title {
  grid-area: b;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #0b95cc;
  font-size: 2.5rem;
  font-weight: bolder;
}
.moviesListContainer .Movie .MovieDetail .decription {
  grid-area: c;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  color: #696969;
  font-size: 1.7rem;
  font-weight: bolder;
}
.moviesListContainer .Movie .MovieDetail .decription .certification {
  border: 1px solid #797979;
  border-radius: 0.5rem;
  background: radial-gradient(#fff, #d3d3d3);
  padding: 0.2rem 1rem;
}
.moviesListContainer .Movie .MovieDetail .decription .generes {
}
.moviesListContainer .Movie .MovieDetail .decription .time {
}
.moviesListContainer .Movie .MovieDetail .decription .trailer {
  text-decoration: none;
    text-decoration: none;
    margin: 0.1rem 0.3rem;
    color: rgb(136, 221, 255);
    transition: all .5s;
}.moviesListContainer .Movie .MovieDetail .decription .trailer:hover{
    color: rgb(255, 70, 70);
}

.moviesListContainer .Movie .MovieDetail {
  width: 100%;
  display: grid;
  padding: 0.2rem;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "a b"
    "a c";
  height: 10rem;
}

.moviesListContainer .Movie .Year {
}
