.nav {
  width: 100%;
  height: 7rem;
  /* position: fixed;
      top: 0;
      left: 0;
      z-index: 3; */
  box-shadow: -7px 0px 8px grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background: #180f97f6;
  color: bisque;
}
.nav h1 {
  font-style: Cascadia-code;
}
.container .heading {
  font-size: 5rem;
  width: 90vw;
}
.btn {
  font-size: 2rem;
  padding: 1rem 1rem;
  margin: 2rem;
  background: #0b95cc;
  border-radius: 5rem;
  width: fit-content;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin: 5vw;
}
.container .section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(autofit, minmax(40rem, 1fr));
}


/*  */
.inputsContainer {}
.inputsContainer .inputGenre {}
.inputsContainer .inputGenre label {}
.inputsContainer .inputGenre input {}
.inputsContainer .inputYear {}
.inputsContainer .inputYear label {}
.inputsContainer .inputYear input {}
.inputsContainer .inputLanguage {}
.inputsContainer .inputLanguage label {}
.inputsContainer .inputLanguage input {}
.inputsContainer .inputRating {}
.inputsContainer .inputRating label {}
.inputsContainer .inputRating input {}
.inputsContainer .inputTitle {}
.inputsContainer .inputTitle label {}
.inputsContainer .inputTitle input {}
.additionalFeatureContainer {}
.moviesListContainer {}
.moviesListContainer .Header {}
.moviesListContainer .Header .rank {}
.moviesListContainer .Header .MovieDetail {}
.moviesListContainer .Header .Year {}
.moviesListContainer .Movie {}
.moviesListContainer .Movie .rank {}
.moviesListContainer .Movie .MovieDetail {}
.moviesListContainer .Movie .Year {}
